td {
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
.message {
  margin-right: auto;
  margin-left: 0;
  width: 30em;
}

.sharesong {
  margin-right: 0;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.textExample {
  max-width:100%;
  padding-top: 15;
}

.invite {
  margin-right:0;
  margin-left: auto;
  padding-bottom: 0
  ;
}

.friend {
  margin-left:0;
  margin-right:auto;
}
