.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }

  .top-header {
    padding: 10px;
    text-align: center;
    background-color: #212529;
    color: #fff;
    align-items: center;
  }

  .top-header span {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .LogoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #picture .LogoHeader {
    height: 50px;
    width:auto;
  }

  a:link.top-header {
    color: #fff;
    text-decoration: underline;
  }

  a.link {
    color: #fff;
  }


  .form {
    border: solid #fff;
    border-radius: 10px;
    margin: 15px;

  }

  .form > form {
    padding:50px;
  }
  
  header {
    flex: 0 100px;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  main > h3 {
    padding-bottom: -200px;
  }
  
  footer {
    flex: 0 50px;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }

  .navbar {
    padding: 30px;
  }
  
  .navbar-brand {
    border: 2px solid rgb(189, 69, 69);
    border-radius: 5px;
    background-color: rgb(189, 69, 69)
  }

  .navbar-nav {
    margin: 0 auto;
    background-color: #212529;
    display: flex;
  }

  .my-red-button {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
    flex-grow: 1;
    text-align: center;
  }

  menu .nav-link:hover {
    background-color: #a59f9f;
    color: #25282b;
  }
  
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  